# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/

# Environment Variables
.env
.env.local

# Databases
*.db

# Logs
logs/
*.log

# Screenshots
screenshots/

# Pytest
.pytest_cache/

# Node
node_modules/
.next/

# Build
dist/
build/

# IDE
.vscode/
.idea/
